@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('./fonts/main.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('./fonts/sub.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

._font-main {
    font-family: MapoFlowerIsland, serif;
}

._font-main-sub {
    font-family: EarlyFontDiary, serif;
}